$roboto: 'Roboto', sans-serif;
$radius: 4px;
$shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);

$palette: (
  grays: (
    0: black,
    1: #b2b7b9,
    2: #f6f9fb,
    3: #e1e4e5,
  )
);

$spacing: (
  s: 4px,
  m: 8px,
  l: 16px,
  xl: 24px,
);

