@use 'functions' as lp;
@import 'constants';


:host {
  position: absolute;
  top: lp.get-spacing(l);
  right: lp.get-spacing(l);

  nav {
    display: flex;
    gap: lp.get-spacing(l);

    a {
      color: lp.get-color(grays, 0);
      text-decoration: none;
      font-size: 12px;

      &.selected {
        border-bottom: 1px solid lp.get-color(grays, 0)
      }
    }
  }
}
